@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box4-16 .mbr-header__text {
  color: #000000;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}
#msg-box4-16 .mbr-article P {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#footer1-9 P {
  color: #000000;
}
#content5-63 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-63 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-63 .mbr-article {
  color: #fff;
}
#content5-63 .mbr-article UL {
  color: #000000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#content5-0 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-0 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-0 .mbr-article {
  color: #fff;
}
#content5-0 .mbr-article P {
  color: #000000;
}
#content5-0 .mbr-article UL {
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  color: #000000;
}
#content5-9 .mbr-article UL {
  color: #000000;
}
#content5-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-10 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-10 .mbr-article {
  color: #fff;
}
#content5-10 .mbr-article P {
  color: #000000;
}
#content5-10 .mbr-article UL {
  color: #000000;
}
#content1-10 H1 {
  text-align: center;
}
#content1-10 UL {
  color: #000000;
  font-size: 16px;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#content5-12 .mbr-article P {
  font-size: 16px;
  color: #000000;
}
#content5-12 .mbr-article UL {
  color: #000000;
  font-size: 16px;
}
#content5-12 .mbr-article DIV {
  color: #000000;
  font-size: 16px;
}
#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#content5-13 .mbr-article P {
  color: #000000;
}
#content5-13 .mbr-article UL {
  color: #000000;
}
#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#content5-14 .mbr-article P {
  color: #000000;
}
#content5-14 .mbr-article UL {
  color: #000000;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
}
#content5-15 .mbr-article P {
  color: #000000;
}
#content5-15 .mbr-article UL {
  color: #000000;
}
#content5-16 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
}
#content5-16 .mbr-article P {
  color: #000000;
}
#content5-16 .mbr-article UL {
  color: #000000;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-17 .mbr-article P {
  color: #000000;
}
#content5-17 .mbr-article UL {
  color: #000000;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#content5-18 .mbr-article UL {
  color: #000000;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#content5-19 .mbr-article P {
  color: #000000;
}
#content5-19 .mbr-article UL {
  color: #000000;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
}
#content5-20 .mbr-article UL {
  color: #000000;
}
#content5-21 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-21 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-article {
  color: #fff;
}
#content5-21 .mbr-article UL {
  color: #000000;
}
#content5-22 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
}
#content5-22 .mbr-article UL {
  color: #000000;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#content5-23 .mbr-article UL {
  color: #000000;
}
#content5-24 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-24 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-24 .mbr-article {
  color: #fff;
}
#content5-24 .mbr-article P {
  color: #000000;
}
#content5-24 .mbr-article UL {
  color: #000000;
}
#content5-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-article {
  color: #fff;
}
#content5-25 .mbr-article UL {
  color: #000000;
}
#content5-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-article {
  color: #fff;
}
#content5-25 .mbr-article UL {
  color: #000000;
}
#content5-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-26 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-article {
  color: #fff;
}
#content5-26 .mbr-article UL {
  color: #000000;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box4-28 .mbr-header__text {
  color: #000000;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .mbr-article UL {
  color: #000000;
}
#msg-box4-29 .mbr-header__text {
  color: #000000;
}
#msg-box4-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-29 .mbr-article {
  color: #ffffff;
}
#msg-box4-29 .mbr-article P {
  color: #000000;
}
#msg-box4-29 .mbr-article UL {
  color: #000000;
}
#msg-box4-30 .mbr-header__text {
  color: #000000;
}
#msg-box4-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-30 .mbr-article {
  color: #ffffff;
}
#msg-box4-30 .mbr-article UL {
  color: #000000;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-32 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-32 .mbr-article {
  color: #ffffff;
}
#msg-box5-33 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-33 .mbr-article {
  color: #ffffff;
}
#msg-box5-34 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-34 .mbr-article {
  color: #ffffff;
}
#msg-box5-35 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-35 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-37 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-37 .mbr-article {
  color: #ffffff;
}
#msg-box5-38 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-38 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-38 .mbr-article {
  color: #ffffff;
}
#msg-box5-39 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-39 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-39 .mbr-article {
  color: #ffffff;
}
#msg-box5-40 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-40 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-40 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-43 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-43 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-43 .mbr-article {
  color: #ffffff;
}
#msg-box5-44 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-44 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-44 .mbr-article {
  color: #ffffff;
}
#msg-box5-45 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-45 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-45 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#content5-50 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-50 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-50 .mbr-article {
  color: #fff;
}
#content5-50 .mbr-article P {
  color: #000000;
}
#content5-50 .mbr-article UL {
  color: #000000;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box4-52 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-52 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-52 .mbr-article {
  color: #ffffff;
}
#msg-box4-53 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-53 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-53 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box4-54 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-54 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-54 .mbr-article {
  color: #ffffff;
}
#msg-box4-57 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-57 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-57 .mbr-article {
  color: #ffffff;
}
#msg-box4-56 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-56 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-56 .mbr-article {
  color: #ffffff;
}
#msg-box4-58 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-58 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-58 .mbr-article {
  color: #ffffff;
}
#msg-box4-55 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-55 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-55 .mbr-article {
  color: #ffffff;
}
#msg-box5-66 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-66 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-66 .mbr-article {
  color: #ffffff;
}
#msg-box4-67 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-67 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-67 .mbr-article {
  color: #ffffff;
}
#msg-box4-59 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-59 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-59 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#msg-box4-1 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#msg-box5-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-0 .mbr-article {
  color: #ffffff;
}
#msg-box5-0 .mbr-article P {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-62 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-62 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-62 .mbr-article {
  color: #ffffff;
}
#msg-box5-64 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-64 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-64 .mbr-article {
  color: #ffffff;
}
#msg-box4-65 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-65 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-65 .mbr-article {
  color: #ffffff;
}
#msg-box5-69 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-69 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-69 .mbr-article {
  color: #ffffff;
}
#msg-box4-70 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-70 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-70 .mbr-article {
  color: #ffffff;
}
#msg-box4-81 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-81 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-81 .mbr-article {
  color: #ffffff;
}
#msg-box4-5 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box4-72 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-72 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-72 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#msg-box4-74 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-74 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-74 .mbr-article {
  color: #ffffff;
}
#msg-box4-73 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-73 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-73 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-76 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-76 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-76 .mbr-article {
  color: #ffffff;
}
#msg-box4-73 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-73 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-73 .mbr-article {
  color: #ffffff;
}
#msg-box4-74 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-74 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-74 .mbr-article {
  color: #ffffff;
}
#msg-box3-78 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-78 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-80 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-80 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-80 .mbr-article {
  color: #ffffff;
}
#msg-box4-82 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-82 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-82 .mbr-article {
  color: #ffffff;
}
#msg-box4-83 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-83 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-83 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-85 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-85 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-85 .mbr-article {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #000000;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
}
#content5-47 .mbr-article UL {
  color: #000000;
}
#content5-48 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-48 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-48 .mbr-article {
  color: #fff;
}
#content5-48 .mbr-article UL {
  color: #000000;
}
#ext_menu-83 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-83.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-83 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-83 .mbr-navbar__hamburger {
  color: #000000;
}
#content5-84 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-84 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-84 .mbr-article {
  color: #fff;
}
#content5-84 .mbr-article UL {
  color: #000000;
}
#content5-85 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-85 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-85 .mbr-article {
  color: #fff;
}
#content5-85 .mbr-article UL {
  color: #000000;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-1 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2 .mbr-article {
  color: #ffffff;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box5-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-7 .mbr-article {
  color: #ffffff;
}
#msg-box5-8 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-8 .mbr-article {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-9 .mbr-article {
  color: #ffffff;
}
#msg-box5-a .mbr-header__text {
  color: #ffffff;
}
#msg-box5-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-a .mbr-article {
  color: #ffffff;
}
